# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
*.ipr
*.iws
.project
.classpath
.settings/

# Spring Boot
logs/
*.log

# OS
.DS_Store
Thumbs.db
